body{
  font-family: 'helvetica';
}

.bargraph{
  height: 600px;
  width: 90%;
  border: solid black 1px;
  margin-top: 5%;

}

.actualgraph{
  background-color: red;
}

.months{
  float: left;
  height: 600px;
  width: 10%;
  border: solid black 1px;
  text-align: right;
}

p{
  margin-bottom: 70px;
  margin-right: 5px;
  margin-top: -.01px;
}

.bar{
  height: 30px;
  background-color: lightblue;
  border: solid black 1px;
  margin-bottom: 54px;
  margin-left: 10.1%;
}

.barDiv{
  margin-left: 2.2%;
}

.bar:hover{
  background-color: darkblue;
}

.nav{
  height: 50px;
  margin-bottom: 5%;
}

.header{
  float: left;
  margin: 0;
}

.dropbutton{
  background-color: grey;
  color: white;
  font-size: 16px;
  border: 1px black solid;
  height: 30px;

}

.dropbutton:hover{
  background-color: white;
  color: grey;
}

.dropdown:hover .content{
  display: block;
}

.content{
  display: none;
  position: absolute;
}

.dropdown{
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 15px;
}
.content li{
  color: grey;
  text-decoration: none;
  display: block;
  border: 1px black solid;
  height: 30px;
}

.content li:hover{
  background-color: grey;
  color: white;
}

ul{
  margin: 0;
  padding: 0;
}
